header{
  background-color: rgb(255, 255, 255);
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.30);
}
.heading{
  margin-left:16px;
  text-align: center;
  padding-top:9px;
  padding-bottom: 9px;
  width: 233px;
  flex-shrink: 0;
}

.heading:hover,
.right-section-content:hover
{
   background-color: #ccc;
   cursor: pointer;
}
.right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 280px;
  height: 55px;
  align-items: center;
  padding-right:15px;
}
.right-section-content{
  padding:9px 15px; 
  width: 100%;
  text-align: center;
}
