.hamburger-image{
  width:100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.image-div{
  position:relative;
}
.le-catering-text{
  position: absolute;
  left:25px;
  bottom:0;
  font-size: 36px;
  letter-spacing: 5px;
  opacity: 0.70;
}
.main-section-container{
  width: 100%;
}
.about-section-div{
  max-width: 1100px;
  padding:64px 0px;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.about-section-image-div{
    padding:12px 24px;
}
.about-section-image{
  width: 100%;
  border-radius: 4px;
  opacity: 0.75;
  object-fit: cover;
  object-position: center;
}

.about-catering{
   font-size: 36px;
   text-align: center;
   font-weight: 400;
   letter-spacing: 5px;
   margin:10px 0px; 
   margin-bottom:50px;
}
.tradition-info{
  text-align: center;
  font-size:18px;
  font-weight: 400;
  margin:10px 0px;
  letter-spacing: 5px;
}
.about-section-image-div p{
  font-size:18px;
  line-height: 28px;
}
.span-sample{
  background-color: #f1f1f1;
  padding:4px 9px;
}
.about-para-2{
  opacity: 0.60;
}
hr{
  max-width: 1100px;
  border-top: 0px solid #eee;
  margin-top:20px;
  margin-bottom:20px;
}
.our-menu{
   font-size: 36px;
   text-align: center;
   font-weight: 400;
   letter-spacing: 5px;
   margin:10px 0px; 
   margin-bottom:50px;
}
.Bread-basket{
  font-size: 20px;
  font-weight: 400 ;
  margin:10px 0px;
  text-align: start;
}
.about-section-image-div .our-menu-para{
  opacity: 0.40;
  font-size: 15px;
}

